.optionContainer {
  margin: 2rem 0;
}

.WithBorderOption {
  display: flex;
  height: 100px;
  align-items: center;
  border-right: 1px solid lightgray;
}

.option {
  display: flex;
  height: 100px;
  align-items: center;
}

.optionTitle {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 2.4rem;
}
.colorTitle {
  color: rgba(0, 0, 0, 0.6);
  position: relative;
}
@media screen and (max-width: 899px) {
  .WithBorderOption {
    border-right: 0;
  }
  .colorTitle {
    display: flex;
    justify-content: center;
  }
}
