.container {
  margin: 1rem 0;
  height: 100%;
}
.paper {
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.cardContainer {
  border-radius: 1rem;
  max-height: 30%;
}

.imageContainer {
  background-image: linear-gradient(#63f3c9, #7acaae);
  padding: 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
}

.content {
  height: 100%;
  padding: 1rem;
}

@media screen and (max-width: 899px) {
  .imageContainer {
    border-radius: 1rem;
  }
}
